[Unit]
Description=The kss kotlin server scripts Process Manager
After=network.target

[Service]
Type=simple
User={{USER}}
ExecStart={{DIRECTORY}}kss
WorkingDirectory={{WORKING_DIRECTORY}}
RestartSec=10
RestartMaxDelaySec=300
RestartSteps=29
Restart=on-failure
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
