name: Create Release

on:
  push:
    tags:
      - '*'

jobs:
  createRelease:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1

      - name: set up JDK
        uses: actions/setup-java@v5.2.0
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Build
        run: ./gradlew scripting-host:assembleReleaseDist IdeaPlugin:buildPlugin

      - name: Create info variables
        id: variables
        run: |
          gradleVersion="$(cat gradle.properties | sed -n 's/version=//p')"
          gitVersion="${GITHUB_REF#refs/*/}"
          if [ "$gradleVersion" != "$gitVersion" ]; then
            echo "gradle properties version ($gradleVersion) doesn't match git tag version ($gitVersion)"
            exit 1
          fi
          echo "version=$gitVersion" >> $GITHUB_OUTPUT

      - name: Get Changelog
        id: changelog
        run: |
          echo 'changes<<END_OF_CHANGELOG' >> $GITHUB_OUTPUT
          ./gradlew -q getChangelog --project-version='${{ steps.variables.outputs.version }}' --no-links --no-header >> $GITHUB_OUTPUT
          echo END_OF_CHANGELOG >> $GITHUB_OUTPUT

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          body: "${{ steps.changelog.outputs.changes }}"
          fail_on_unmatched_files: true
          files: |
            scripting-host/build/distributions/scripting-host-release*.tar.gz
            scripting-host/build/distributions/scripting-host-release*.zip
            IdeaPlugin/build/distributions/IdeaPlugin-*.zip
          draft: false
          prerelease: false
